body {
    font-family: 'Product Sans', sans-serif;
    background-color: #1a1a1a;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.styled-button {
    font-family: 'Product Sans', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    margin-top: 20px;
    background-color: #F3F2F2;
    color: #838383;
    border: none;
    border-radius: 18px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 0 35px #ffffff3f;
}

.styled-button:hover {
    transform: scale(1.1);
}

.styled-button:active {
    transform: scale(0.95);
}

.styled-button:focus {
    outline: none;
}

h1 {
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    width: 857px;
    text-shadow: 0 0 35px #ffffff3f;
}

p {
    color: #ffffff;
}

/* Animación de salida */
.fade-out-up {
    animation: fadeOutUp 1s forwards;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

/* Animación de entrada */
.fade-in-up {
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Añadir al final de tu CSS */
.fade-to-white {
    animation: fadeToWhite 2s forwards;
}

@keyframes fadeToWhite {
    0% {
        background-color: #1a1a1a;
        color: #ffffff;
    }
    100% {
        background-color: #ffffff;
        color: #ffffff;
    }
}
